@model JoinReward.Models.DTO.EditFileCustomerWinDTO
@Html.AntiForgeryToken()
@{
    ViewData["Title"] = @ViewData["Title"];
    JoinReward.Models.DTO.EditFileCustomerWinDTO infoCustomerWinDTO = (JoinReward.Models.DTO.EditFileCustomerWinDTO)@ViewData["infoCustomerWin"];
}
<div class="page-wrapper bg-dark p-t-100 p-b-50">
    <div class="wrapper wrapper--w900">

        <form action="" method="post" enctype="multipart/form-data">

            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="fid" />
            <div class="card-body">

                <center><h3><b>Thông tin khách hàng đã đăng ký bảo hành</b></h3></center>
                <div class="form-row-info">
                    <div class="row row-info">
                        <div class="col-12 col-sm-6">
                            <div class="name-info"><label><b>Họ Và Tên:  </b>@Html.DisplayFor(item => infoCustomerWinDTO.CUSTOMER_NAME)</label></div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="name-info"><label><b>Số điện thoại:  </b>@Html.DisplayFor(item => infoCustomerWinDTO.PHONE_NUMBER)</label></div>
                        </div>
                    </div>
                </div>
                <div class="form-row-info">
                    <div class="row row-info">
                        <div class="col-12 col-sm-6">
                            <div class="name-info"><label><b>Địa chỉ:  </b>@Html.DisplayFor(item => infoCustomerWinDTO.ADDRESS)</label></div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="name-info"><label><b>Mã số trúng thưởng:  </b>@Html.DisplayFor(item => infoCustomerWinDTO.LUCKY_CODE)</label></div>
                        </div>
                    </div>
                </div>
                <div class="form-row-info">
                    <div class="row row-info">
                        <div class="col-12 col-sm-6">
                            <div class="name-info"><label><b>Tên model sản phẩm:  </b>@Html.DisplayFor(item => infoCustomerWinDTO.MODEL_NAME)</label></div>
                        </div>
                        <div class="row row-info">
                            <div class="col-12 col-sm-6">
                                <div class="name-info"><label><b>Giải thưởng đã trúng:  </b>@Html.DisplayFor(item => infoCustomerWinDTO.PRIZE_WIN_TEXT)</label></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row-info">
                    <div class="row row-info">
                        <div class="col-12 col-sm-6">
                            <div class="name-info"><label><b>Số serial sản phẩm:  </b>@Html.DisplayFor(item => infoCustomerWinDTO.ENGINE_NO)</label></div>
                        </div>
                    </div>
                </div>
                <center><h3><b>Thông tin khách hàng đăng ký nhận thưởng</b></h3></center>
                <div class="form-row-info">
                    <div class="row row-info">
                        <div class="col-12 col-sm-6">
                            <div class="name-info"><label><b>Họ Và Tên:  </b>@Html.DisplayFor(item => infoCustomerWinDTO.FULL_NAME)</label></div>
                        </div>
                       
                    </div>
                </div>
                <div class="form-row-info">
                    <div class="row row-info">
                        <div class="col-12 col-sm-6">
                            <div class="name-info"><label><b>Địa chỉ nơi chứa sản phẩm:  </b>@Html.DisplayFor(item => infoCustomerWinDTO.ADDRESS_STORAGE)</label></div>
                        </div>
                         <div class="col-12 col-sm-6">
                            <div class="name-info"><label><b>Số CMTND/CCCD:  </b>@Html.DisplayFor(item => infoCustomerWinDTO.IDENTIFICATION_NUMBER)</label></div>
                        </div>
                    </div>
                </div>
                 <div class="form-row-info">
                    <div class="row row-info">
                        <div class="col-12 col-sm-6">
                            <div class="name-info"><label><b>Ghi chú của khách hàng:  </b>@Html.DisplayFor(item => infoCustomerWinDTO.NOTE_OF_CUSTOMER)</label></div>
                        </div>
                    </div>
                </div>
                @if (string.IsNullOrEmpty(infoCustomerWinDTO.IDENTIFICATION_AUTHORIZATION))
                {
                    <div class="form-row-info">
                        <div class="row row-info">
                            <div class="col-12 col-sm-6">
                                <div class="name-info"><label><b>Số tài khoản ngân hàng:  </b>@Html.DisplayFor(item => infoCustomerWinDTO.BANK_NUMBER)</label></div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="name-info"><label><b>Tên chủ tài khoản:  </b>@Html.DisplayFor(item => infoCustomerWinDTO.BANK_ACCOUNT_NAME)</label></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row-info">
                        <div class="row row-info">
                            <div class="col-12 col-sm-6">
                                <div class="name-info"><label><b>Tên ngân hàng:  </b>@Html.DisplayFor(item => infoCustomerWinDTO.BANK_NAME)</label></div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="name-info"><label><b>Chi nhánh:  </b>@Html.DisplayFor(item => infoCustomerWinDTO.BANK_BRANCH)</label></div>
                            </div>
                        </div>
                    </div>
                     <div class="form-row-info">
                        <div class="row row-info">
                            <div class="col-12 col-sm-6">
                                <div class="name-info"><label><b>Tỉnh, thành phố của chi nhánh:  </b>@Html.DisplayFor(item => infoCustomerWinDTO.PROVINCE_BRANCH)</label></div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-row-info">
                        <div class="row row-info">
                            <div class="col-12 col-sm-6">
                                <div class="name-info"><label><b>Số CMTND/CCCD người được ủy quyền:  </b>@Html.DisplayFor(item => infoCustomerWinDTO.IDENTIFICATION_AUTHORIZATION)</label></div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="name-info"><label><b>Họ và tên người được ủy quyền:  </b>@Html.DisplayFor(item => infoCustomerWinDTO.BANK_ACCOUNT_NAME)</label></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row-info">
                        <div class="row row-info">
                            <div class="col-12 col-sm-6">
                                <div class="name-info"><label><b>Tên ngân hàng:  </b>@Html.DisplayFor(item => infoCustomerWinDTO.BANK_NAME)</label></div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="name-info"><label><b>Số tài khoản ngân hàng:  </b>@Html.DisplayFor(item => infoCustomerWinDTO.BANK_NUMBER)</label></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row-info">
                        <div class="row row-info">
                            <div class="col-12 col-sm-6">
                                <div class="name-info"><label><b>Chi nhánh:  </b>@Html.DisplayFor(item => infoCustomerWinDTO.BANK_BRANCH)</label></div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="name-info"><label><b>Ảnh giấy ủy quyền:  </b></label>
                                    @*<a href="~/DocumentsSubmit/@Html.DisplayFor(item => infoCustomerWinDTO.FILE_AUTHORIZATION_LETTER)" target="_blank">Ảnh1</a>*@
                                   @{
                                    string[] arrImgAuthor= infoCustomerWinDTO.FILE_AUTHORIZATION_LETTER.Split(';');
                                    for (int i = 0; i < arrImgAuthor.Length; i++)
                                    {
                                        <a style="margin-right: 10px;" href="~/DocumentsSubmit/@Html.DisplayFor(item => arrImgAuthor[i])" target="_blank">Ảnh@(i + 1)</a>
                                    }
                                }
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row-info">
                        <div class="row row-info">
                            <div class="col-12 col-sm-6">
                                <div class="name-info"><label><b>Tỉnh, thành phố của chi nhánh:  </b>@Html.DisplayFor(item => infoCustomerWinDTO.PROVINCE_BRANCH)</label></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row-info">
                    <div class="row row-info">
                        <div class="col-12 col-sm-6">
                            <div class="name-info"><label><b>Ảnh CMTND/CCCD mặt trước người được ủy quyền:  </b></label><a href="~/DocumentsSubmit/@infoCustomerWinDTO.FILE_ID_FRONT_AUTHORIZATION" target="_blank">Ảnh</a></div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="name-info"><label><b>Ảnh CMTND/CCCD mặt sau người được ủy quyền:  </b></label><a href="~/DocumentsSubmit/@Html.DisplayFor(item => infoCustomerWinDTO.FILE_ID_BACKSIDE_AUTHORIZATION)" target="_blank">Ảnh</a></div>
                        </div>
                    </div>
                </div>
                }
                <div class="form-row-info">
                    <div class="row row-info">
                        <div class="col-12 col-sm-6">
                            <div class="name-info"><label><b>Ảnh CMTND/CCCD mặt trước:  </b></label><a href="~/DocumentsSubmit/@infoCustomerWinDTO.FILE_ID_FRONT_PATH" target="_blank">Ảnh</a></div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="name-info"><label><b>Ảnh CMTND/CCCD mặt sau:  </b></label><a href="~/DocumentsSubmit/@Html.DisplayFor(item => infoCustomerWinDTO.FILE_ID_BACKSIDE_PATH)" target="_blank">Ảnh</a></div>
                        </div>
                    </div>
                </div>
                <div class="form-row-info">
                    <div class="row row-info">
                        <div class="col-12 col-sm-6">
                            <div class="name-info">
                                <label><b>Ảnh hóa đơn:  </b></label>
                                @if (!string.IsNullOrEmpty(infoCustomerWinDTO.FILE_INVOICE_PATH))
                                {
                                    <a href="~/DocumentsSubmit/@infoCustomerWinDTO.FILE_INVOICE_PATH" target="_blank">Ảnh</a>
                                }
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="name-info"><label><b>Ảnh KH đứng cạnh sản phẩm:  </b></label><a href="~/DocumentsSubmit/@Html.DisplayFor(item => infoCustomerWinDTO.FILE_PRODUCT_PATH)" target="_blank">Ảnh</a></div>
                        </div>
                    </div>
                </div>
                <div class="form-row-info">
                    <div class="row row-info">
                        <div class="col-12 col-sm-6">
                            <div class="name-info"><label><b>Ảnh số serial/tem sản phẩm:  </b></label>
                                @*<a href="~/DocumentsSubmit/@Html.DisplayFor(item => infoCustomerWinDTO.FILE_SERIAL_NUMBER)" target="_blank">Ảnh</a>*@
                                @{
                                    string[] arrImgSerial= infoCustomerWinDTO.FILE_SERIAL_NUMBER.Split(';');
                                    for (int i = 0; i < arrImgSerial.Length; i++)
                                    {
                                        <a style="margin-right: 10px;" href="~/DocumentsSubmit/@Html.DisplayFor(item => arrImgSerial[i])" target="_blank">Ảnh@(i + 1)</a>
                                    }
                                }
                                </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="name-info">
                                <label><b>Ảnh tin nhắn mã dự thưởng:  </b></label>
                                @{
                                    string[] arrImgSmsCode = infoCustomerWinDTO.FILE_SMS_CODE.Split(';');
                                    for (int i = 0; i < arrImgSmsCode.Length; i++)
                                    {
                                        <a style="margin-right: 10px;" href="~/DocumentsSubmit/@Html.DisplayFor(item => arrImgSmsCode[i])" target="_blank">Ảnh@(i + 1)</a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row-info">
                    <div class="row row-info">
                        <div class="col-12 col-sm-6">
                            <div class="name-info">
                                <label><b>Ảnh tin nhắn thông báo trúng thưởng:  </b></label>
                                @{
                                    string[] arrImgSmsWin = infoCustomerWinDTO.FILE_SMS_WIN.Split(';');
                                    for (int i = 0; i < arrImgSmsWin.Length; i++)
                                    {
                                        <a style="margin-right: 10px;" href="~/DocumentsSubmit/@Html.DisplayFor(item => arrImgSmsWin[i])" target="_blank">Ảnh@(i + 1)</a>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="name-info">
                                <label><b>Ảnh ASC cập nhật:  </b></label>
                                @{
                                    if (!string.IsNullOrEmpty(infoCustomerWinDTO.FILE_UPLOAD_OF_ASC_VIEW))
                                    {
                                        string[] arrImgAscUpdate = infoCustomerWinDTO.FILE_UPLOAD_OF_ASC_VIEW.Split(';');

                                        for (int i = 0; i < arrImgAscUpdate.Length; i++)
                                        {
                                            <a style="margin-right: 10px;" href="~/DocumentsSubmit/@Html.DisplayFor(item => arrImgAscUpdate[i])" target="_blank">Ảnh@(i + 1)</a>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="form-row-info">
                    <div class="row row-info">
                        <div class="col-12 col-sm-6">
                            <div class="name-info">
                                <label><b>Ảnh agency cập nhật:  </b></label>
@{
                                    if (!string.IsNullOrEmpty(infoCustomerWinDTO.FILE_OF_AGENCY_VIEW))
                                    {
                                        string[] arrImgAgency = infoCustomerWinDTO.FILE_OF_AGENCY_VIEW.Split(';');

                                        for (int i = 0; i < arrImgAgency.Length; i++)
                                        {
                                            <a style="margin-right: 10px;" href="~/DocumentsSubmit/@Html.DisplayFor(item => arrImgAgency[i])" target="_blank">Ảnh@(i + 1)</a>
                                        }
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="name-info">
                                <label><b>Ảnh call center cập nhật:  </b></label>
                                @{
                                    if (!string.IsNullOrEmpty(infoCustomerWinDTO.FILE_OF_CALL_CENTER_VIEW))
                                    {
                                        string[] arrImgCallCenter = infoCustomerWinDTO.FILE_OF_CALL_CENTER_VIEW.Split(';');

                                        for (int i = 0; i < arrImgCallCenter.Length; i++)
                                        {
                                            <a style="margin-right: 10px;" href="~/DocumentsSubmit/@Html.DisplayFor(item => arrImgCallCenter[i])" target="_blank">Ảnh@(i + 1)</a>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>

                @if (ViewBag.funcId == "4" || ViewBag.funcId == "3")
                {
                    //Agency
                    <div class="box">

                        <div class="box-header">
                            <h3>Giao việc cho ASC</h3>
                        </div>

                        <div class="box-body">

                            <div class="form-group">
                                <label asp-for="ASC_ID">
                                    ASC xử lý
                                </label>
                                <select asp-for="ASC_ID" asp-items="@ViewBag.ListASC" class="form-control select2"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="ASC_PROCESS_DEADLINE">
                                    Deadline
                                </label>

                                <div class="input-group date">
                                    <input type="text" class="form-control date-picker" asp-for="ASC_PROCESS_DEADLINE">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>


                                </div>

                            </div>
                            <div class="form-group">
                                <label asp-for="NOTE">
                                    Ghi chú
                                </label>
                                <textarea asp-for="NOTE" rows="3" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                }
                else
                {
                    <div class="box">

                        <div class="box-header">
                            <h3>Giao việc cho ASC</h3>
                        </div>

                        <div class="box-body">

                            <div class="form-group">
                                <label asp-for="ASC_ID">
                                    ASC xử lý
                                </label>
                                <select asp-for="ASC_ID" asp-items="@ViewBag.ListASC" disabled class="form-control select2"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="ASC_PROCESS_DEADLINE">
                                    Deadline
                                </label>
                                <div class="input-group date">
                                    <input type="text" class="form-control datetime-picker required-field" asp-for="ASC_PROCESS_DEADLINE" disabled data-inputmask="'alias': 'dd/MM/yyyy'" data-mask>
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label asp-for="NOTE">
                                    Ghi chú
                                </label>
                                <textarea asp-for="NOTE" disabled rows="3" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                }
                @if (ViewBag.funcId == "2" || ViewBag.funcId == "3" || ViewBag.funcId == "4")
                {
                    <div class="box">

                        <div class="box-header">
                            <h3>ASC xử lý công việc</h3>
                        </div>
                        <div class="box-body">


                            <div class="form-group">
                                <label asp-for="ASC_ID">
                                    Trạng thái ASC xác minh
                                </label>
                                <select asp-for="ASC_STATUS" asp-items="@ViewBag.lsASC_STATUS" class="form-control select2"></select>
                            </div>
                            <div class="form-group">
                                <label>Ảnh đính kèm</label>
                                <input type="file" class="form-control" asp-for="FILE_UPLOAD_OF_ASC" accept=".jpg, .jpeg, .png" multiple />
                                <div id="fileList">
                                    <ul class="list-group" id="listFiles"></ul>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="NOTE_OF_ASC">
                                    Ghi chú của ASC
                                </label>
                                <textarea asp-for="NOTE_OF_ASC" rows="3" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="box">

                        <div class="box-header">
                            <h3>ASC xử lý công việc</h3>
                        </div>
                        <div class="box-body">

                            <div class="form-group">
                                <label asp-for="ASC_ID">
                                    Trạng thái ASC xác minh
                                </label>
                                <select asp-for="ASC_STATUS" asp-items="@ViewBag.lsASC_STATUS" disabled class="form-control select2"></select>
                            </div>
                            <div class="form-group">
                                <label>Ảnh đính kèm</label>
                                <input type="file" class="form-control" asp-for="FILE_UPLOAD_OF_ASC" disabled accept=".jpg, .jpeg, .png" multiple />
                                <div id="fileList">
                                    <ul class="list-group" id="listFiles"></ul>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="NOTE_OF_ASC">
                                    Ghi chú của ASC
                                </label>
                                <textarea asp-for="NOTE_OF_ASC" rows="3" disabled class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                }
                @if (ViewBag.funcId == "5" || ViewBag.funcId == "3")
                {
                //agence hoac admin
                    <div class="box">

                        <div class="box-header">
                            <h3>Agency xử lý công việc</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label asp-for="PAN_STATUS">
                                    Trạng thái hồ sơ (Nội bộ)
                                </label>
                                <select asp-for="PAN_STATUS" asp-items="@ViewBag.lsPAN_STATUS" class="form-control select2"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="NOTE_OF_AGENCY">
                                    Ghi chú của Agency
                                </label>
                                <textarea asp-for="NOTE_OF_AGENCY" rows="3" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Ảnh đính kèm</label>
                                <input type="file" class="form-control" asp-for="FILE_OF_AGENCY" accept=".jpg, .jpeg, .png" multiple/>
                                <div id="fileList">
                                    <ul class="list-group" id="listFiles"></ul>
                                </div>
                            </div>
                        </div>
                    </div>

                }
                else if (ViewBag.funcId != "2")
                {
                    <div class="box">

                        <div class="box-header">
                            <h3>Agency xử lý công việc</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label asp-for="PAN_STATUS">
                                    Trạng thái hồ sơ (Nội bộ)
                                </label>
                                <select asp-for="PAN_STATUS" disabled asp-items="@ViewBag.lsPAN_STATUS" class="form-control select2"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="NOTE_OF_AGENCY">
                                    Ghi chú của Agency
                                </label>
                                <textarea asp-for="NOTE_OF_AGENCY" rows="3" disabled class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Ảnh đính kèm</label>
                                <input type="file" class="form-control" asp-for="FILE_OF_AGENCY" accept=".jpg, .jpeg, .png" multiple disabled/>
                                <div id="fileList">
                                    <ul class="list-group" id="listFiles"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (ViewBag.funcId == "6" || ViewBag.funcId == "3")
                {
                    <div class="box">

                        <div class="box-header">
                            <h3>Call center xử lý công việc</h3>
                        </div>
                        <div class="box-body">

                            <div class="form-group">
                                <label asp-for="NOTE_OF_CALL_CENTER">
                                    Ghi chú của call center
                                </label>
                                <textarea asp-for="NOTE_OF_CALL_CENTER" rows="3" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Ảnh đính kèm</label>
                                <input type="file" class="form-control" asp-for="FILE_OF_CALL_CENTER" accept=".jpg, .jpeg, .png" multiple />
                                <div id="fileList">
                                    <ul class="list-group" id="listFiles"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="box">

                        <div class="box-header">
                            <h3>Call center xử lý công việc</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label asp-for="NOTE_OF_CALL_CENTER">
                                    Ghi chú của call center
                                </label>
                                <textarea asp-for="NOTE_OF_CALL_CENTER" disabled rows="3" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Ảnh đính kèm</label>
                                <input type="file" class="form-control" asp-for="FILE_OF_CALL_CENTER" accept=".jpg, .jpeg, .png" multiple disabled/>
                                <div id="fileList">
                                    <ul class="list-group" id="listFiles"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (ViewBag.funcId == "3")
                {
                    <div class="box">

                        <div class="box-header">
                            <h3>Trạng thái khách hàng</h3>
                        </div>

                        <div class="box-body">
                            <div class="form-group">
                                <label asp-for="CUSTOMER_STATUS">
                                    Trạng thái hồ sơ (Khách hàng)
                                </label>
                                <select asp-for="CUSTOMER_STATUS" asp-items="@ViewBag.lsCUS_STATUS" class="form-control select2" onchange="checkNoteReject()"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="NOTE_CUS_REJECT">
                                    Lý do từ chối (Nhập khi cập nhật trạng thái từ chối)
                                </label>
                                <textarea asp-for="NOTE_CUS_REJECT" rows="3" disabled class="form-control"></textarea>
                            </div>
                            <button type="button" onclick="coppyReason()" class="btn btn-primary">Sao chép lý do</button>
                            <div class="form-group">
                                <label asp-for="NOTE_OF_ADMIN">
                                    Ghi chú của admin
                                </label>
                                <textarea asp-for="NOTE_OF_ADMIN" rows="3" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                }
                else if (ViewBag.funcId != "2")
                {
                    <div class="box">
                        <div class="box-body">
                            <div class="card-header">
                                <h3>Trạng thái khách hàng</h3>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label asp-for="CUSTOMER_STATUS">
                                    Trạng thái khách hàng
                                </label>
                                <select asp-for="CUSTOMER_STATUS" disabled asp-items="@ViewBag.lsCUS_STATUS" class="form-control select2"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="NOTE_CUS_REJECT">
                                    Lý do từ chối (Nhập khi cập nhật trạng thái từ chối)
                                </label>
                                <textarea asp-for="NOTE_CUS_REJECT" rows="3" disabled class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label asp-for="NOTE_OF_ADMIN">
                                    Ghi chú của admin
                                </label>
                                <textarea asp-for="NOTE_OF_ADMIN" rows="3" disabled class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                }

                <div class="form-group">
                    <button type="submit" class="btn btn-primary" asp-action="SaveFileCustomerWin" asp-controller="Business">Ghi lại</button>
                    <button asp-action="BackToViewFileCustomerWin" class="btn btn-secondary" asp-controller="Business">Đóng</button>
                </div>
            </div>
        </form>

    </div>

</div>

<script type="text/javascript">
    if ('@ViewBag.Message') alert('@ViewBag.Message')
    //
    $(document).ready(function () {
        //
        $('.date-picker').datetimepicker({
            locale: 'en', keepOpen: false, showClose: true,
            format: 'DD-MM-YYYY'
        });
        $('.datepicker').datepicker();
        //
        $('.select2').select2({
            width: "100%"
        });

        var fid = $('#fid').val();
         var CustomerStatus = $('#CUSTOMER_STATUS').val();
        if (CustomerStatus === '11' && fid === '3') {
            $("#NOTE_CUS_REJECT").prop('disabled', false);

        } else {
            $("#NOTE_CUS_REJECT").prop('disabled', true);
        }
    });

    function checkNoteReject() {
        var CustomerStatus = $('#CUSTOMER_STATUS').val();
        if (CustomerStatus === '11') {
            $("#NOTE_CUS_REJECT").prop('disabled', false);

        } else {
            $("#NOTE_CUS_REJECT").prop('disabled', true);
        }
    }

    function coppyReason() {
        var NOTE_OF_AGENCY = $('#NOTE_OF_AGENCY').val();
        $('#NOTE_CUS_REJECT').val(NOTE_OF_AGENCY);
    }
</script>