@using JoinReward.Models.DTO
@model JoinReward.Models.DTO.FileCustomerWinDTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    JoinReward.Models.Pagination pagination = (JoinReward.Models.Pagination)@ViewData["pagination"];
    int v_count = 1;

    ViewBag.Title = "Duyệt hồ sơ";
    ViewBag.pTitle = "Duyệt hồ sơ";
    ViewBag.pageTitle = "Chức năng";

}

<style>
table.dataTable {
        border-collapse: collapse !important;
}
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <!-- /.box-header -->
            <div class="card-body">
                <form asp-action="ViewFileCustomerWin" asp-controller="Business" method="post">
                    <input type="hidden" asp-for="fid" />
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group mb-1">
                                <span class="input-group-text">Mã trúng thưởng</span>
                                <input asp-for="LuckyCode" type="text" class="form-control">
                            </div>
                            @* <div class="input-group">
                                <span class="input-group-addon"><b>Mã trúng thưởng</b></span>
                                <input asp-for="LuckyCode" class="form-control" />
                                </div>*@
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group mb-1">
                                <span class="input-group-text">Số điện thoại</span>
                                <input asp-for="PhoneNumber" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-sm-6">
                            <div class="input-group mb-1">
                                <span class="input-group-text">Tên khách hàng</span>
                                <input asp-for="CustmerName" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group mb-1">
                                <span class="input-group-text">Đợt quay thưởng</span>
                                <select asp-for="ROUND_ID" asp-items="@ViewBag.lsRound" class="form-control form-select"></select>
                            </div>
                        </div>
                    </div>
                    @*<div class="row" style="margin-top: 10px;">*@


                    @*                        <div class="col-sm-6">
                        <div class="input-group">
                        <span class="input-group-addon"><b>Trạng thái nội bộ</b></span>
                        <select asp-for="PAN_STATUS" asp-items="@ViewBag.lsPAN_STATUS" class="form-control select2"></select>
                        </div>
                        </div>*@

                    @*</div>*@
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-sm-6">
                            <div class="input-group mb-1">
                                <span class="input-group-text">TT khách hàng</span>
                                <select asp-for="CUSTOMER_STATUS" asp-items="@ViewBag.lsCUS_STATUS" class="form-control form-select"></select>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="input-group mb-1">
                                <span class="input-group-text">Giải thưởng</span>
                                <select asp-for="PRIZE_WIN" asp-items="@ViewBag.lsPrizeWin" class="form-control form-select"></select>
                            </div>
                        </div>

                        @*<div class="col-sm-6">
                            <div class="input-group mb-1">
                                <span class="input-group-text">Tỉnh, thành phố</span>
                                <select asp-for="PROVINCE_ID" asp-items="@ViewBag.lsPronvice" class="form-control select2"></select>
                            </div>
                        </div>*@
                    </div>

                    <div class="row" style="margin-top: 10px;">
                        
                        @*                        <div class="col-sm-6">
                            <div class="input-group">
                            <span class="input-group-addon"><b>Lần submit</b></span>
                            <select asp-for="COUNT_SUBMIT" asp-items="@ViewBag.lsCountSubmit" class="form-control select2"></select>
                            </div>
                            </div>*@
                    </div>
                    @*
                        <div class="row" style="margin-top: 10px;">
                        <div class="col-sm-6">
                        <div class="input-group">
                        <span class="input-group-addon"><b>Ngày nộp từ</b></span>
                        <input type="text" class="form-control date-picker" asp-for="FROM_DATE">
                        </div>
                        </div>
                        <div class="col-sm-6">
                        <div class="input-group">
                        <span class="input-group-addon"><b>Ngày nộp đến</b></span>
                        <input type="text" class="form-control date-picker" asp-for="TO_DATE">
                        </div>
                        </div>
                        </div>
                    *@

                    @*                    @if (ViewBag.Roles != "2")
                        {
                        <div class="row" style="margin-top: 10px;">
                        <div class="col-sm-6">
                        <div class="input-group">
                        <span class="input-group-addon"><b>ASC xử lý</b></span>
                        <select asp-for="AscId" asp-items="@ViewBag.ListASC" class="form-control select2"></select>
                        </div>
                        </div>
                        </div>
                        }

                        @if (ViewBag.Roles != "2" && ViewBag.Roles != "5")
                        {
                        <div class="row" style="margin-top: 10px;">
                        <div class="col-sm-6">
                        <div class="input-group">
                        <span class="input-group-addon"><b>Agency xử lý</b></span>
                        <select asp-for="AGENCY_ID" asp-items="@ViewBag.ListAgency" class="form-control select2"></select>
                        </div>
                        </div>
                        </div>
                        }*@
                    <div class="class="d-flex flex-wrap gap-2">
                            <button type="submit" class="btn btn-primary waves-effect waves-light">
                                 <i class="bx bx-search-alt-2 font-size-16 align-middle me-2"></i> Tìm kiếm
                            </button>

                                <button type="button" class="btn btn-success waves-effect waves-light" onclick="updateStatus(1)">
                                    <i class="bx bx-check-double font-size-16 align-middle me-2"></i> Duyệt hồ sơ</button>


                                <button type="button" class="btn btn-danger waves-effect waves-light" onclick="updateStatus(2)">
                                     <i class="bx bx-user-x font-size-16 align-middle me-2"></i>Từ chối hồ sơ</button>


                                <button type="button" class="btn btn-success waves-effect waves-light" onclick="updateStatus(3)">
                                    <i class="bx bx-check-double font-size-16 align-middle me-2"></i>Trả thưởng</button>
                                    
                                     <button type="button" class="btn btn-success waves-effect waves-light" onclick="AddDialogAssignASC()">
                                    <i class="bx bx-check-double font-size-16 align-middle me-2"></i>Giao cho ASC</button>

                            <button type="submit" class="btn btn-primary waves-effect waves-light" formaction="ExportExcel" onclick="return confirm('Bạn có muốn xuất dữ liệu?');">
                                <i class="bx bx-export font-size-16 align-middle me-2"></i>Export</button>

                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Danh sách hồ sơ</h4>
                
                        <table class="table table-bordered" id="list-data">
                    <thead class="table-light">
                        <tr role="row">
                           <th style="width: 20px;" class="align-middle">
                                    <div class="form-check font-size-16">
                                        <input class="form-check-input" type="checkbox" id="checkAll">
                                        <label class="form-check-label" for="checkAll"></label>
                                    </div>
                                </th>
                            <th style="text-align:center;">
                                STT
                            </th>
                            <th>
                                Đợt
                            </th>
                            <th>
                                Ngày nộp
                            </th>
                            <th style="text-align:center;">
                                Mã TT
                            </th>
                            <th>
                                Giải thưởng
                            </th>
                            <th>
                                Họ và tên
                            </th>
                            <th>
                                Số ĐT
                            </th>
                            <th>
                                Tỉnh thành
                            </th>
@*                            <th>
                                Agency
                            </th>*@
                            <th>
                                ASC
                            </th>
                            <th>
                                TT khách hàng
                            </th>
                            <th>
                                TT nội bộ
                            </th>
@*                            <th>
                                Lần submit
                            </th>*@
                            @*<th>
                                Ghi chú
                            </th>*@
                            <th style="width: 40px; text-align: center;">
                                #
                            </th>
                        </tr>
                    </thead>
                    <tbody id="list-data">
                        @foreach (FileCustomerWinSearchDTO item in (List<FileCustomerWinSearchDTO>)ViewData["grid_data"])
                        {
                            <tr role="row" class="odd">
                                <td>
                                     <div class="form-check font-size-16">
                                        <input class="form-check-input" type="checkbox" id="@Html.DisplayFor(modelItem => item.Id)">
                                        <label class="form-check-label" for="orderidcheck01"></label>
                                    </div>
                                 </td>
                                <td>
                                    @((pagination.CUR_PAGE - 1) * pagination.PAGE_SIZE + v_count)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ROUND_NAME)
                                </td>
                                <th style="text-align:center;">
                                    @Html.DisplayFor(modelItem => item.CREATE_DATE)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LuckyCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PRIZE_WIN_TEXT)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProvinceName)
                                </td>
@*                                <td>
                                    @Html.DisplayFor(modelItem => item.AGENCY_NAME)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.AscName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerStatus)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PanStatus)
                                </td>
@*                                <td>
                                    @Html.DisplayFor(modelItem => item.COUNT_SUBMIT)
                                </td>*@
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.Note)
                                </td>*@
                                <td class="text-center">
                                    <a class="btn btn-primary btn-sm waves-effect waves-light" asp-action="EditOrViewFileCustomerWin" asp-controller="Business"
                                   asp-route-ID="@item.Id"><i class="bx bx-edit-alt font-size-16 align-middle me-2"></i></a>
                                   
                                    <a class="btn btn-primary btn-sm waves-effect waves-light" href="@Url.Action("DownloadFileCustomerWin", new { id = item.Id, type = 1 })"><i class="bx bx-download font-size-16 align-middle me-2"></i></a>
                                </td>
                            </tr>
                            v_count = v_count + 1;
                        }
                    </tbody>
                </table>
  
            <partial name="/Views/Shared/_Pagination.cshtml" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="asc-modal-default" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="asc-body-content" class="modal-body">
                <!-- .modal-body -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="AssignToAsc('asc-body-content')">Gán</button>
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div class="modal fade" id="update-info-modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="title-update-info"></h4>
            </div>
            <div id="update-info-body-content" class="modal-body">
                <!-- .modal-body -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="UpdateInfo('update-info-body-content')">Lưu lại</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div class="modal fade" id="update-status-modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="title-status"></h4>
            </div>
            <div id="update-status-body-content" class="modal-body">
                <!-- .modal-body -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="UpdateStatus('update-status-body-content')">Lưu lại</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<script>

    //$("#checkAll").click(function() {
    //    $('input:checkbox').not(this).prop('checked', this.checked);
    //  });

    //    //$('#AssignAscId').select2({
    //    //    dropdownParent: $('#asc-modal-default')
    //    //});

    //     $('.date-picker').datetimepicker({
    //        locale: 'en', keepOpen: false, showClose: true,
    //        format: 'DD-MM-YYYY'
    //    });
    //    $('.datepicker').datepicker();

     function updateStatus(status) {

          Swal.fire({
              title: 'Bạn muốn thay đổi trạng thái?',
              text: "",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#34c38f',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Có',
              cancelButtonText: 'Không'
            }).then((result) => {
              if (result.isConfirmed) {
                var listId = '';
                $('#list-data input:checked').each(function() {
                    listId = listId + $(this).attr('id') + ",";
                });
                var url = "/Business/updateStatusFileCustomerWin?listId=" + listId + "&status=" + status;
                _ajax(url, '', function (response) {
                    if (response.success === 'Y') {
                        location.reload()
                    }
                    else {
                        alert(response.message)
                    }
                })
              }
            });

         //    if (confirm("Xác nhận thay đổi trạng thái?")) {
         //       var listId = '';
         //       $('#list-data input:checked').each(function() {
         //           listId = listId + $(this).attr('id') + ",";
         //       });

         //       var url = "/Business/updateStatusFileCustomerWin?listId=" + listId + "&status=" + status;
         //       _ajax(url, '', function (response) {
         //       if (response.success === 'Y') {
         //           location.reload()
         //       }
         //       else {
         //           alert(response.message);
         //           hideLoading();
         //       }
         //       });
         //}
        }

        function AddDialogAssignASC() {
            var url = "/Business/ViewListAsc";
            $('#title').html("Gán hồ sơ cho ASC");
            showLoading();
            $("#asc-body-content").load(url, function (e, responseText) {
                if (responseText === "error") { location.reload() }
                $("#asc-modal-default").modal('show');
                //$(this).find("input:not(:submit,:reset,:button,:hidden),select,textarea")[0].focus()
                hideLoading();
            });
        }

        function AssignToAsc() {
             if (confirm("Xác nhận gán hồ sơ cho ASC?")) {
                var listId = '';
                $('#list-data input:checked').each(function() {
                    listId = listId + $(this).attr('id') + ",";
                });
                var idAsc = $('#AssignAscId').val();

                var url = "/Business/AssignToASC?listId=" + listId + "&idAsc=" + idAsc;
                _ajax(url, '', function (response) {
                if (response.success === 'Y') {
                    location.reload()
                }
                else {
                    alert(response.message);
                    hideLoading();
                }
                });
         }
        }


</script>
